<html lang="en">
<head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de Usuário</title>


        <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
 <body>
 <div class="login-container">
        <div>
            <form class="Orby-form" id="form-cadastro">
                <span>Crie sua conta agora!</span>
                <div>
                    <input type="text" name="name" id="nome" placeholder="Digite o seu nome" required>
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu email" required>
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite o seu nick" required>
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required>
                </div>
                <div>
                    <input type="password" name="corfirmar-senha" id="corfirmar-senha" placeholder="Confirme a sua senha" required>
                </div>
                <a href="/login">Clique aqui para realizar o Login</a>
                <button type="submit" class="btn-Orby">Cadastrar</button>
            </form>
        </div>
    </body>
</html>