<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orby - Login</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">


</head>
<body>
    <div class="login-container">
        <div>
            <form class="Orby-form" id="login">
                <span>Seja bem-vindo ao Orby!</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu email" required>
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required>
                </div>
                <a href="/cadastro">Clique aqui para criar a sua conta</a>
                <button type="submit" class="btn-Orby">Login</button>
            </form>
        </div>
</body>
</html>